<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="volcanibot_diff_controller" params="name prefix">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>volcanibot_diff_controller/DiffDriveSystemHardware</plugin>
        <param name="loop_rate">30</param>
        <param name="device_name">roboteq</param>   //  roboteq
        <param name="port">/dev/roboteq</param>     //  /dev/roboteq
        <param name="baud_rate">115200</param>
        <param name="timeout_ms">25</param>
        <param name="gear_ratio">10.0</param>
        <param name="has_encoders">false</param>
      </hardware>
      <!-- <joint name="${prefix}left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint> -->
      <joint name="${prefix}front_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}front_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}rear_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}rear_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
